<div class="chat-item" data-id={{id}}>
  <img src="{{avatar}}" alt="Avatar" class="chat-avatar">
  <div class="chat-details">
    <h3 class="chat-name">{{name}}</h3>
    <p class="chat-last-message">{{lastMessage}}</p>
  </div>
  {{!-- <span class="chat-timestamp">{{timestamp}}</span> --}}
  <span class="chat-unread-count">{{unreadCount}}</span>
</div>
