<div class="message-list">
     {{{ button_primary }}}
     {{{ button_delete_user }}}
         {{#each messageItems}}
            {{{this}}}
        {{/each}}
        {{{ inputmessage }}}

            {{{ modal }}}
            {{{ modalUserDelete }}}

</div>