{{#> Dialog }}
<div class="registration-page-wrapper">
  <form class="registration-page">
    <div class="registration-header">   
      
      <h1 class="h1">Registration</h1>
    </div>
  
    <main class="registration-page-content">
      {{{ input_first_name }}}
      {{{ input_second_name }}}
      {{{ input_email }}}
      {{{ input_phone }}}
      {{{ input_login }}}
      {{{ input_password }}}
    </main>
    <div class="registration-page-footer">
      {{{ button }}} 
    </div>
  </form>
  </div>
{{/ Dialog }}

