{{#> Dialog }}
<div class="registration-page-wrapper">
  <form class="registration-page">
    <div class="registration-header">   
      
      <h1 class="h1">Registration</h1>
    </div>
  
    <main class="registration-page-content">

      {{!-- {{> InputField title="First name" name="first_name" id="first_name" type="text"}}
      {{> InputField title="Second name" name="second_name" type="text" id="second_name" }}
      {{> InputField title="Email" name="email" id="email" type="text"}}
      {{> InputField title="Phone" name="phone" id="phone" type="text"}}
      {{> InputField title="Phone" name="phone" id="phone" type="text"}}
      {{> InputField title="Login" name="login" id="login" type="text"}}
      {{> InputField title="Password" name="password" id="password" type="password"}} --}}
      {{{ input_first_name }}}
      {{{ input_second_name }}}
      {{{ input_email }}}
      {{{ input_phone }}}
      {{{ input_login }}}
      {{{ input_password }}}
    </main>
    <div class="registration-page-footer">
      {{!-- {{> Button text="Sign up" page="chat" className="button-primary"}} --}}
      {{{ button }}} 
    </div>
  </form>
    <nav class="links">
    <a onclick="window.navigate('404-error')">404</a>
    <a onclick="window.navigate('settings')">settings-page</a>
    <a onclick="window.navigate('500-error')">500</a>
    <a onclick="window.navigate('login')">login-page</a>
  </nav>
  </div>
{{/ Dialog }}

{{!-- <div>{{{input}}} {{{button}}}</div> --}}