{{#if isOpen}}
<div>
<div class="overlay"></div>

<div class="wrapper" id="modalBackdrop">
  <div class="modal" id="modal">
 
    <span class="modal-close" id="closeButton">&times;</span>
     {{{ button_close }}}
    <h2>Придумайте название для нового чата</h2>

   <form>
    {{{ button_create }}}
    {{{ input_title_chat }}}
    
    </form>
    
  </div>
</div>
</div>

{{else}}
  {{{fragment}}}
{{/if}}
