<div class="chat-page">
  <div class="chat-sidebar">
  {{!-- {{> ProfileSettings className='profile-settings'}} --}}
   {{{ profile }}}
  {{!-- {{> InputSearch className='search-container' }} --}}
  {{{ inputsearch }}}
 {{!-- {{> ChatSidebar  }} --}}
 {{{ sidebar }}} 
</div>
<div class="message-block">
  {{!-- {{> MessageUser userName="Петя"}} --}}
  {{{ user }}} 
  <div class="messages">
    {{!-- {{> MessageList }} --}}
    {{{ list }}}
  </div>
  {{!-- {{> InputMessage }} --}}
  {{{ inputmessage }}}
</div>
</div>

