<div class="chat-page">
  <div class="chat-sidebar">
   {{{ profile }}}
  {{{ inputsearch }}}
 {{{ sidebar }}} 
</div>
<div class="message-block">
  {{{ user }}} 
  <div class="messages">
    {{{ button_primary }}}
     {{{ button_info }}}
     {{{ button_token }}}
    {{{ list }}}
  </div>
  {{{ inputmessage }}}
</div>
</div>
 

